<!DOCTYPE html>
<html>
<head>
<title>Login</title>
</head>
<body>

<h1>Log In Here</h1>

<form action="/shows/login/" method="post">
	{% csrf_token %}
  <fieldset>
    <legend>Personal information:</legend>
    Name:<br>
    <input type="text" id="name" value="Name" name = "name"><br>
    Email:<br>
    <input type="text" id="email" value="Email" name = "email"><br>
    Password:<br>
    <input type="text" id="password" value="Password" name = "password"><br><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>


</body>
</html>
